.videocard {
  border: 1px solid #f6f8fb;
  border-radius: 8px;
  width: 301px;
  height: 612px;
  box-sizing: border-box;
  padding: 8px 8px 16px 8px;
}
.videocard__content {
}
.content {
}
.content-view {
}
.content-view__crypto {
}
.content-view__chosen {
}
.content-view__image {
}
.content-view__order {
}
.content-discription {
}
.card-disc {
}
.card-disc-name {
}
.card-disc-type {
}
.card-disc__items {
}
.items {
}
.items-text {
}
.card-disc__cost {
}
.videocard__counter {
}
.counter {
}
.counter-count {
}
.counter-control {
}
.control {
}
.control-minus {
}
.control-plus {
}
