.videocard {
  border: 1px solid #f6f8fb;
  border-radius: 8px;
  width: 301px;
  height: 612px;
  box-sizing: border-box;

  border: 1px solid #d0d0d0;
  border-radius: 6px;
}
.videocard__content {
}
.content {
}
.content-view {
  box-sizing: border-box;
  /* position: relative; */
  padding: 8px 8px 13px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
}
.contents-view__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content-view__crypto {
  /* position: absolute;
  top: 0;
  left: 0; */
}
.content-view__chosen {
  width: 32px;
  height: 32px;
  background-color: black;
  border-radius: 50%;
  /* position: absolute;
  top: 0;
  right: 0; */
}
.content-view__image {
  /* background-image: no-repeat center 100px 100px; */
}
.content-view__order {
  /* position: absolute;
  bottom: 0;
  left: 0; */
}
.content-discription {
}
.card-disc {
}
.card-disc-name {
}
.card-disc-type {
}
.card-disc__items {
}
.items {
}
.items-text {
}
.card-disc__cost {
}
.videocard__counter {
}
.counter {
  display: flex;
}
.counter-count {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  width: 106px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #eaecee;
  border-radius: 8px;
}

.counter-control {
}
.control {
  width: 171px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #eaecee;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.control-change {
  border: 2px solid #3a3a3a;
}
.control-minus {
}
.control-plus {
}

.add-btn {
  background: #4a5bcf;
  border-radius: 30px;
  width: 285px;
  height: 40px;
}
